---
layout: default
title: Making Learning Work
---

<div id="home">
  <h1>Technology innovation & adult learning</h1>
  <p>In the US, 36 Million adults have low basic literacy and numeracy skills. Many are stuck in low-paying jobs or unemployment. This is a challenge not just for the individuals and families directly affected, but for the US economy as a whole. "Learning" is the most promising pathways towards family-supporting employment and better futures.</p>
  <p>Employers are seeking workers with problem-solving, communication, and collaboration skills. Yet, much adult learning has traditionally focused on instruction-led development of content and basic skills. Creative approaches to learning (project-based, collaborative, playful) that foster development of 21st century skills are rarely considered.</p>
  <p>During the last few years, we have seen a burst of innovation in online and technology-supported learning. Yet, few of these innovations were designed for the adult who may need them most. We aim to change that. <a href="about.html">Read more... </a>
  </p>
  <h1>Project Updates / News</h1>
  <ul class="posts">
    <li><span>29 May 2014</span> &raquo; <a href="https://www.edsurge.com/n/2014-05-29-adult-learning-innovations-take-root-at-mit">Adult Learning Innovations Take Root at MIT</a></li>
    {% for post in site.posts %}
    	{% if post.categories contains 'drafts' %}
      {% else %}
	      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
	    {% endif %}
    {% endfor %}
  </ul>
</div>
