<div id="tab-region">
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <h1> <strong> LEARNING OVER EDUCATION INITIATIVE </strong> </h1> 
        <a href="http://learn.media.mit.edu"> 
            <p> About </p> 
        </a>
    </div>
    <div class="col-sm-3">
        <h1> <strong> Current Projects </strong> </h1>
        <a href="http://learn.media.mit.edu/lcl-old/"> 
            <p> Learning Creative Learning</p> 
        </a>
        <a href="http://learn.media.mit.edu/mlw/">
            <p> Making Learning Work </p>
        </a>
    </div>
</div>
</div>
<div id="tab-border">
</div>
<div id="tabs">
    <img id="tab-down" src="{{site.baseurl}}/images/navigation_tab_down_white.png" width="150px">
    <img id="tab-up" src="{{site.baseurl}}/images/navigation_tab_up_white.png" width="150px">
</div>