<div id="tab-region">
<div class="row">
    <div class="col-sm-3 col-sm-offset-1">
        <a href="http://learn.media.mit.edu"> 
            <h1> Learning Over Education </h1> 
        </a>
        <a href="http://learn.media.mit.edu"> 
            <p> About </p> 
        </a>
        <a href="http://learn.media.mit.edu"> 
            <p> Contact </p> 
        </a>
    </div>
    <div class="col-sm-3">
        <h1> Projects and Initiatives </h1>
        <a href="http://learn.media.mit.edu/lcl-old/"> 
            <p> Learning Creative Learning </p> 
        </a>
        <a href="http://learn.media.mit.edu/mlw/">
            <p> Making Learning Work </p>
        </a>
    </div>
</div>
</div>
<div id="tab-border">
</div>
<div id="tabs">
    <img id="tab-down" src="{{site.baseurl}}/images/navigation_tab_down.png" width="150px">
    <img id="tab-up" src="{{site.baseurl}}/images/navigation_tab_up.png" width="150px">
</div>