---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

{% if page.comments %}
<br/>
<h2> Please let us know your thoughts </h2>
<div class="comments">
    <div class="fb-comments" data-href="http://learn.media.mit.edu{{ site.baseurl }}{{ page.url }}" data-num-posts="4" data-width="706"></div>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_GB/all.js#xfbml=1&appId=process.env.FB_APP_ID";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));</script>
{% endif %}
